<div>
  <div class="header-nav">
    <mat-list class="header-wrap">
      <mat-list-item class="header-nav-list">
        <div class="list-item logo">
          <a href="/">LOGO</a>
        </div>
        <div class="list-item">
          <a routerLink="/login">登录</a>
          <a routerLink="/register">注册</a>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<router-outlet></router-outlet>
<!--<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>-->
<!--<button mat-button color="primary" (click)="toHome()">home</button>-->

